networks:
  pymqrest-net:
    name: pymqrest-net

services:
  qm1:
    image: ${MQ_IMAGE:-icr.io/ibm-messaging/mq:latest}
    container_name: pymqrest-qm1
    hostname: qm1
    networks:
      - pymqrest-net
    ports:
      - "1414:1414"
      - "9443:9443"
    environment:
      LICENSE: accept
      MQ_QMGR_NAME: QM1
      MQ_ENABLE_EMBEDDED_WEB_SERVER: "true"
      MQ_ADMIN_PASSWORD: mqadmin
      MQ_READER_PASSWORD: mqreader
    volumes:
      - qm1data:/var/mqm
      - ./mqwebuser.xml:/etc/mqm/web/installations/Installation1/servers/mqweb/mqwebuser.xml:ro
    healthcheck:
      test: ["CMD", "dspmq", "-m", "QM1"]
      interval: 10s
      timeout: 5s
      retries: 12

  qm2:
    image: ${MQ_IMAGE:-icr.io/ibm-messaging/mq:latest}
    container_name: pymqrest-qm2
    hostname: qm2
    networks:
      - pymqrest-net
    ports:
      - "1415:1414"
      - "9444:9443"
    environment:
      LICENSE: accept
      MQ_QMGR_NAME: QM2
      MQ_ENABLE_EMBEDDED_WEB_SERVER: "true"
      MQ_ADMIN_PASSWORD: mqadmin
      MQ_READER_PASSWORD: mqreader
    volumes:
      - qm2data:/var/mqm
      - ./mqwebuser.xml:/etc/mqm/web/installations/Installation1/servers/mqweb/mqwebuser.xml:ro
    healthcheck:
      test: ["CMD", "dspmq", "-m", "QM2"]
      interval: 10s
      timeout: 5s
      retries: 12

volumes:
  qm1data:
  qm2data:
